@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center" style="margin-top: 20%">
    <span class="display-4" style="color: #ffcf16">Thank you for confirming your email.</span>
</div>
