@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <div class="rio-login-content rio-full-height">
            <div>
                <div class="slds-p-around--medium" style="position: relative;">
                    <h1 class="slds-text-heading--medium slds-m-bottom--large text-white slds-text-align--center">Log in</h1>
                    <div class="slds-form--stacked rio-form">
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="slds-form-element slds-m-bottom--large">
                                <label class="slds-form-element__label slds-text-title--caps slds-text-heading--small" asp-for="Input.Email" tabindex="1">Email</label>
                                <div class="slds-form-element__control">
                                    <input type="text" class="slds-input" asp-for="Input.Email" id="email" autocomplete="email">
                                </div>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="slds-form-element slds-m-bottom--medium">
                                <label class="slds-form-element__label slds-text-title--caps slds-text-heading--small" asp-for="Input.Password" tabindex="2">Password</label>
                                <div class="slds-form-element__control">
                                    <input type="password" class="slds-input" asp-for="Input.Password" id="password" autocomplete="current-password">
                                </div>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div><a asp-page="./ForgotPassword">Forgot Your Password?</a>
                            <div class="slds-m-top--medium">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                                <label class="slds-form-element__label slds-text-title--caps slds-text-heading--small" for="remember" tabindex="3">Remember Me</label>
                            </div>
                            <div class="slds-form-element">
                                <button class="slds-button slds-button--brand slds-text-heading--small rio-full-button">Login</button>
                            </div>
                            <div class="slds-m-top--large slds-text-heading--medium">
                                Need an Account?
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>.
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
