@using Microsoft.AspNetCore.Identity
@using WoWJunkyard.Data.Models
@using WoWJunkyard.Models.User
@inject SignInManager<WoWUser> SignInManager
@inject UserManager<WoWUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="user-panel">
        
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </div>
    }
    else
    {
        <div class="user-panel">
            <a asp-area="Identity" asp-page="/Account/Login" style="color: black">Login</a>  /
            <a asp-area="Identity" asp-page="/Account/Register" style="color: black">Register</a>
        </div>
    }
