@model WoWJunkyard.Data.Models.Character

@{
    ViewData["Title"] = "Character";
}

<script>var whTooltips = { colorLinks: true, iconizeLinks: true,iconSize: 'large', renameLinks: true, dropchance: true };</script>
<script src="https://wow.zamimg.com/widgets/power.js"></script>

<h1>Character</h1>

<div>
    <h4>CharacterInputModel</h4>
    <hr />
    <dl class="row">
    @foreach (var item in Model.Items.ItemInfos)
    {
        <dt class="col-sm-2">
            <a href="https://www.wowhead.com/item=@item.Id&bonus=@string.Join(':', item.BonusLists)"
               data-wowhead="@item.Id">@item.Name</a>
        </dt>
    }
    </dl>
</div>
<div>
    <a asp-action="CharactersList" asp-controller="Character" class="btn btn-outline-info text-white">Back to List</a>
</div>


