@using Microsoft.AspNetCore.Identity
@using WoWJunkyard.Data.Models
@inject SignInManager<WoWUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

@if (!this.SignInManager.IsSignedIn(User))
{
    <div class="text-center" style="margin-top: 20%">
        <span class="display-4" style="color: #ffcf16">Welcome to Junkyard</span>
    </div>
}
@if (User.IsInRole("User"))
{
    <h1 class="text-center">Hello, @SignInManager.UserManager.GetUserName(User)!</h1>
}
