
@{
    ViewData["Title"] = "VerifyEmail";
}

    <h1>VerifyEmail</h1>

<div class="text-center" style="margin-top: 20%">
    <span class="display-4" style="color: #ffcf16">An email was sent to your address. Please verify your email by following the link.</span>
</div>

